<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console_log" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%t] %-5level %logger{5} - %msg%n"/>
        </Console>
        <RollingFile
                name="file_log"
                fileName="logs/logs.txt"
                filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.txt">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="15 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="console_log"/>
            <AppenderRef ref="file_log"/>
        </Root>
    </Loggers>
</Configuration>